*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-3.jpg);
    background-size: cover;
    background-position: center;
}

.section-padding{
    padding: 20px 0;
    margin-left: 5%;
    margin-right: 5%;
}

.section-padding .card{
    margin-top: 1vh;

}
.section-header h2{
    font-weight: bolder;
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
}
.carousel-caption{
    top: 25%;
    bottom:25%;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.carousel-caption p{
    width: 80%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0,30,82,0.327);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #000;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i{
    font-size: 50px;
    margin-left: 5%;
    margin-right: 5%;
    
}

.section-padding p.lead{
    text-align: justify;
}
.section-padding p.card-body{
    text-align: justify;
}

.team .card-body i{
    font-size: 20px;
}


@media(max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17pxs;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
        
    }
    .section-padding{
        padding: 50px 0;
    }
}